.wrapper {
  display: flex;
}

.left-side {
  padding: 24px;
  padding-bottom: 0;
  padding-top: 30px;
  width: 660px;
}

.right-side {
  background: #1F1D2B;
  border-radius: 8px;
  padding: 24px;
}

.top-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: #FFFFFF;
}

.home-date {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #E0E6E9;
}

.top-part-left {
  margin-right: 250px;
}

.choose-part {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}

.choose-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;
}

.choose-input {
  background: #1F1D2B;
  border: 1px solid #393C49;
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
  padding: 15px;
}
