.set-wrap {
  padding: 24px;
}

.sp-title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: #FFFFFF;
}

.settings-left {
  background: #1F1D2B;
  border-radius: 8px;
  margin-top: 24px;
  overflow: hidden;
  height: 723px;
}

.set-sides {
  display: flex;
}

.settings-right {
  width: 765px;
  background: #1F1D2B;
  border-radius: 8px;
  margin-left: 24px;
  margin-top: 24px;
}

.settings-right-top {
  border-bottom: 1px solid #393C49;
  padding-bottom: 12px;
}

.left-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #EA7C69;
  border: 1px solid #EA7C69;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 14px 35px;
  margin-right: 8px;
}

.right-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #FAFAFA;
  background: #EA7C69;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.4);
  border-radius: 8px;
  padding: 14px 43px;
  margin-top: 10px;
}

.settings-right-bottom {
  padding: 24px;
  margin-top: 15px;
}