.foods-row{
  display: flex;
}

.most-ordered-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #393C49;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.foooods {
  width: 55px;
  height: 55px;
}

.foods-name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #E0E6E9;
}

.food-dish {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: #ABBBC2;
}

.content {
  margin-left: 13px;
}

.most-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;
}

.most-select {
  background: #1F1D2B;
  border: 1px solid #393C49;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
}

.foods-row {
  margin-bottom: 22px;
}

.most-ordered-wrap {
  background: #1F1D2B;
  border-radius: 8px;
  padding: 24px;
  margin-top: 24px;
}

.most-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #EA7C69;
  outline: none;
  width: 100%;
  border: 1px solid #EA7C69;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 14px 0;
  cursor: pointer;
  background: #1F1D2B;
}