.sidebar-btn {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 13px 24px 11px 12px;
  background: #1F1D2B;
  border-radius: 12px 0px 0px 12px;
  position: relative;
  margin-bottom: 22px;
  margin-right: 0;
  // transition: all ease 0.3s;

    .btn-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 57px;
      height: 57px;
      fill: #EA7C69;

      &:hover {
        background: #EA7C69;
        box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
        border-radius: 8px;
        fill: #fff;
      }
    }


  
  &:active, &.active  {
    background: #252836;
    border-radius: 12px 0px 0px 12px;
    .btn-icon {
      background: #EA7C69;
      box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
      border-radius: 8px;
      fill: #fff;
    }

    &:before {
      // display: none;
      content: '';
      width: 18px;
      height: 18px;
      position: absolute;
      bottom: -18px;
      right: 0;
      background-image: url('../assets/icons/burchak.svg');
      background-repeat: no-repeat;
      background-size: cover;
      transform: rotate(270deg);
      // transition: all ease 0.3s;
    }

    &:after {
      // display: none;
      content: '';
      width: 18px;
      height: 18px;
      position: absolute;
      top: -18px;
      right: -1px;
      background-image: url('../assets/icons/burchak.svg');
      background-repeat: no-repeat;
      background-size: cover;
      // transition: all ease 0.3s;
    }
  }

  
}